# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/

# Docker
docker/data/

# Local config
*.local
